.main__bg {
  display: flex;
  width: 100%;
  position: relative;
}
.read__blog__main__heading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 38px;
  font-weight: bold;
}
.blog__container__heading {
  margin-top: 55px;
}
.blog__container {
  display: flex;
  flex-direction: column;

  padding: 60px 180px;
}
p {
  margin: 12px 0px;
  word-spacing: 2px;
}
.blog__img {
  width: 100%;
  margin: 45px 0px;
}
